<%- include("header") -%>

<div class="box" id="heading">
    <h1>Do an Instant Activity</h1>
</div>
<div>    
<form action="/" method="post" class="item">
<input id = "typeInput" type="text" name="typeName" placeholder="Enter Type"> 
<button type="submit">Do it Now</button> 
</form>
</div>

<div id="results" ><p><%= activity %></p></div> 
</div>





<%- include("footer"); -%>
